ul.ui-autocomplete {
  background-color: white;
  border: 1px solid gray;
  list-style-position: outside;
  list-style: none;
  margin: 6px 0;
  overflow: hidden;
  padding: 0;
  width: 200px;
}

ul.ui-autocomplete  li {
  background-color: lightgray;
  cursor: default;
  display: block;
  margin: 5px;
  padding: 2px 5px;
  font-family: 'Georgia';
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;

}

ul.ui-autocomplete li a.ui-state-hover {
  color: red;
}


